CORRECT_BLOCK_HASH=false
LOOP_CORRECT_BLOCK_HASH=false
PORT=3030
JSONRPC_URL=https://evmtest.confluxrpc.com
L2_RPC_URL=http://127.0.0.1:28545
# 设置根据 ethereum 规则重新计算 block hash, parent hash 的起始区块。0 表示忽略，都非 0 时，两者选择最小值
HASH_MAP_START_BLOCK_NUMBER=0
HASH_MAP_START_BLOCK_COUNT_BEFORE_LATEST=1000